{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}SHIFT OMA{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/shiftoma/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <header class="site-header">
    <div class="wrapper">
      <a class="brand-small" href="{% url 'core:home' %}">SHIFT OMA</a>
      <nav class="main-nav">
        <ul>
          <li><a href="{% url 'core:about' %}">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="wrapper">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
